<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'article/css/style.css' %}">
</head>
<body>
    
    <nav>
        <a href="{% url 'Foodie:home' %}">Home</a>
        <a href="{% url 'Foodie:member' %}">Members</a>
        <a href="{% url 'article:all' %}">Reviews</a>
        
        <a href="{% url 'logout' %}?next={% url 'Foodie:home' %}">Logout</a>
    </nav>
    <img src="https://2f35da97a9ad36d49db6-4d1987fef3a36cccd5478db4931039f0.ssl.cf3.rackcdn.com/assets/media/2020/01/SocialMedia_APAC_BreakfastTrendsIndia_Blog_1000x305.jpg" alt="foodiesfeed" width="100%">

{% load humanize %} <!-- https://docs.djangoproject.com/en/3.0/ref/contrib/humanize -->

<span style="float: right;">
({{ article.updated_at|naturaltime }})
{% if article.owner == user %}
<a href="{% url 'article:article_update' article.id %}"><i class="fa fa-pencil"></i></a>
<a href="{% url 'article:article_delete' article.id %}"><i class="fa fa-trash"></i></a>
{% endif %}
</span>
<p>
<h1>{{ article.title }}</h1>
</p>
<p>
{{ article.text }}
</p>
<p>
    <small>
        {% if article.owner.username %}
            posted by {{ article.owner.username }}  {{ article.natural_updated }}
        {% endif %}
    </small>
        
</p>
<p>
<a href="{% url 'article:all' %}">All Reviews</a>
</p>
    
</body>
</html>
